<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.3.xsd">
<context:annotation-config/>

	<bean id="duke" class="book.springinaction.springidol.Juggler"></bean>
	<bean id="Sonnet29" class="book.springinaction.springidol.Sonnet29"></bean>
	<bean id="poeticduke" class="book.springinaction.springidol.PoeticJuggler">
		<constructor-arg value="15"></constructor-arg>
		<constructor-arg ref="Sonnet29"></constructor-arg>
	</bean>
<!-- 	<bean id="theStage" class="book.springinaction.springidol.StageSingletonHolder"  factory-method="getInstance"></bean> -->
	<!-- <bean id="ticket" class="book.springinaction.springidol.Ticket" scope="prototype"></bean> -->
	<bean id="auditorium" class="book.springinaction.springidol.Auditorium"
		init-method="turnLightsOn" destroy-method="turnLightsOff"></bean>
	<bean id="kenny" class="book.springinaction.springidol.Instrumentalist">
		<property name="song" value="Jingle Bells"></property>
		<property name="instrument" ref="saxophone"></property>
	</bean>
	<bean id="saxophone" class="book.springinaction.springidol.Saxophone"></bean>
	
	<bean id="penny" class="book.springinaction.springidol.Instrumentalist">
		<property name="song" value="don't cry for me argentina"></property>
		<property name="instrument">
			<bean class="book.springinaction.springidol.Piano"></bean>
		</property>
	</bean>
	
	<bean id="blindfly" class="book.springinaction.springidol.Song">
		<property name="title" value="盲头乌蝇"></property>
		<property name="LINE" value="宁愿牺牲一次也好,撞开公式的领土,腾出不羁天空给我乱舞."></property>
	</bean>

	<bean id="everyteardrop" class="book.springinaction.springidol.Song">
		<property name="title" value="every teardrop is a waterfall"></property>
		<property name="LINE" value="every siren is a symphony,And every tear's a waterfall"></property>
	</bean>
	
	<bean id="KimLing" class="book.springinaction.springidol.ItinerantSinger">
	<property name="knowSongs">
		<list>
			<ref bean="blindfly"/>
			<ref bean="everyteardrop"/>
		</list>
	</property>
	<property name="albumnMap">
		<map>
			<entry key-ref="blindfly" value="幕后玩家"></entry>
			<entry key-ref="everyteardrop" value="Capitol"></entry>
		</map>
	</property>
	<property name="authorPros">
		<props>
			<prop key="盲头乌蝇">Ever</prop>
			<prop key="every teardrop is a waterfall">ColdPlay</prop>
		</props>
	</property>
	</bean>
	
	<bean id="KimLingBestSong" class="book.springinaction.springidol.Song">
		<property name="title" value="#{KimLing.selectBestSong().getTitle()}"></property>
		<property name="LINE" value="#{KimLing.selectBestSong().sing()}"></property>
	</bean>

	<bean id="anthonyHopkins" class="book.springinaction.springidol.PlayActor">
		<property name="name" value="Anthony Hopkins"></property>
		<property name="dateOfBirth" value="1937-12-31"></property>
		<property name="placeOfBirth"
			value="Margam, Port Talbot, West Glamorgan, Wales, UK"></property>
	</bean>
	<bean id="evanRachelWood" class="book.springinaction.springidol.PlayActor">
		<property name="name" value="Evan Rachel Wood"></property>
		<property name="dateOfBirth" value="1987-09-07"></property>
		<property name="placeOfBirth"
			value="Raleigh, North Carolina, USA"></property>
	</bean>
	<bean id="jeffreyWright" class="book.springinaction.springidol.PlayActor">
		<property name="name" value="Jeffrey Wright"></property>
		<property name="dateOfBirth" value="1965-12-07"></property>
		<property name="placeOfBirth"
			value=" Washington, District of Columbia, USA"></property>
	</bean>
	<bean id="Westworld" class="book.springinaction.springidol.TVSeries">
		<property name="title" value="Westworld 2016"></property>
		<!-- <property name="majorAct" ref="EvanRachelWood"></property> -->
		<property name="castMap">
			<map>
				<entry key="Dr. Robert Ford" value-ref="anthonyHopkins"></entry>
				<entry key="Dolores Abernathy" value-ref="evanRachelWood"></entry>
				<entry key="Bernard Lowe" value-ref="jeffreyWright"></entry>
			</map>
		</property>
	</bean>
	
</beans>